<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="Pricing">
  <parameter name="BrowserName" value="Desktop"/>
  <parameter name="LoBName" value="Pricing"/>
  <parameter name="TestScenario_RepositoryFileIndex" value="TCS_Return\TestScenarioSuite\CalculationScanerio\0003_ScenarioSuite.xlsx"/>
  <parameter name="TestData_RepositoryFile" value="TCS_Return\TestDataSuite\CalculationData\0002_TestDataSuite.xlsx"/>
  <test name="TCS_ArogyaSanjFamSTP_00003" verbose="2">
    <parameter name="ScriptReference" value="CreateFamilySTPFlowPricing"/>
    <parameter name="ScenarioID" value="TCS_ArogyaSanjFamSTP_00003"/>
    <parameter name="Description" value="Arogya-Sanjeevani STP Flow"/>
    <parameter name="Product" value="Positive"/>
    <parameter name="Module" value="TCS"/>
    <parameter name="ScenarioUID" value="TCS_ArogyaSanjFamSTP_00003"/>
    <classes>
      <class name="testRunner.TestExecutionSuite"/>
    </classes>
  </test> <!-- TCS_ArogyaSanjFamSTP_00003 -->
  <test name="TCS_ArogyaSanjFamSTP_00004" verbose="2">
    <parameter name="ScriptReference" value="CreateFamilySTPFlowPricing"/>
    <parameter name="ScenarioID" value="TCS_ArogyaSanjFamSTP_00004"/>
    <parameter name="Description" value="Arogya-Sanjeevani STP Flow"/>
    <parameter name="Product" value="Positive"/>
    <parameter name="Module" value="TCS"/>
    <parameter name="ScenarioUID" value="TCS_ArogyaSanjFamSTP_00004"/>
    <classes>
      <class name="testRunner.TestExecutionSuite"/>
    </classes>
  </test> <!-- TCS_ArogyaSanjFamSTP_00004 -->
</suite> <!-- Pricing -->
